<div id="Proyectos">
    <div class="container">
        <div class="input-group input-group-sm form-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="lblProyecto">Proyecto:</span>
            </div>

            <input id="txtProyecto01" name="txtProyecto01" type="text" class="form-control" aria-describedby="lblProyecto">
            <button class="btn btn-secondary " type="button" id="AgregaProyecto"><i class="{{IconoAgrega}}"></i></button>
            <button class="btn btn-secondary " type="button" id="ModifProyecto"><i class="{{IconoModif}}"></i></button>
            <button class="btn btn-secondary " type="button" id="EliminaProyecto"><i class="{{IconoEliminar}}"></i></button>
        </div>
    </div>
</div>
