<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="../assets/Imagenes/yo.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">{{Nombre}}</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="#" class="twitter"><i class={{IconoTwitter}}></i></a>
                <a href="#" class="facebook"><i class={{IconoFacebook}}></i></a>
                <a href="#" class="instagram"><i class={{IconoInstagram}}></i></a>
                <a href="#" class="google-plus"><i class={{IconoSkype}}></i></a>
                <a href="#" class="linkedin"><i class={{IconoLinkedin}}></i></a>
                <a href="#" class="linkedin"><i class={{IconoLinkedin}}></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
        <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class={{IconoHome}}></i> <span>Home</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class={{IconoPersona}}></i> <span>Sobre mí</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class={{IconoCV}}></i> <span>Currículum</span></a></li>
            <li><a href="#skills" class="nav-link scrollto"><i class={{IconoExperiencia}}></i> <span>Habilidades</span></a></li>
            <li><a href="#services" class="nav-link scrollto"><i class={{IconoServicios}}></i> <span>Proyectos</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i class={{IconoMail}}></i> <span>Contacto</span></a></li>
        </ul>
        </nav>
    </div>
</header>